body {
    background: #FFa750;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  #wrap {
    position: relative;
    left: 145px;
    top: 190px;
    transform: translate(-50%, -50%);
    width: 300px;
}
#steam {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    margin-left: 75px;
    margin-top: -75px;
    z-index: 0;
    opacity: 0;
}
.steam-one {
    animation: steam-one 4s ease-out infinite;
}
.steam-three {
    animation: steam-one 4s ease-out 1s infinite;
}
@keyframes steam-one {
    0% {
          transform: translateY(0) translateX(0) scale(0.25);
          opacity: 0.25;
    }
    100% {
          transform: translateY(-200px) translateX(20px) scale(1);
          opacity: 0;
    }
}    
.steam-two {
    animation: steam-two 4s ease-out 0.5s infinite;
}
.steam-four {
    animation: steam-two 4s ease-out 1.5s infinite;
}
@keyframes steam-two {
    0% {
          transform: translateY(0) translateX(0) scale(0.25);
          opacity: 0.25;
    }
    100% {
          transform: translateY(-200px) translateX(-20px) scale(1);
          opacity: 0;
    }
} 
.cup-body {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 0 0 150px 150px;
    overflow: hidden;
    z-index: 1;
} 
.cup-shade {
    position: absolute;
    width: 300px;
    height: 370px;
    margin-left: 45%;
    margin-top: -10px;
    transform: rotate(50deg);
    background-color: #ebebeb;

}
.cup-handle {
    position: absolute;
    right: -10%;
    width: 75px;
    height: 80px;      
    border: 15px solid #ebebeb ;
    margin-left: 135px;
    margin-bottom: 95px;
    border-radius: 0 80px 150px 0;
}

  #custom-cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.title{
  font-size: 100px;
  margin-bottom: -50px;
}

.text {
  font-size: 50px;
  margin: 10px 0 0 0;
  font-weight: lighter;
  text-transform: uppercase;
  color: #eeeeee;
}


span a {
  font-size: 18px;
  color: #cccccc;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.4s ease-in-out;
  &:hover {
    color: #ffffff;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img { width: 100%; height: 100%; }
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 50px 40px;
  margin-top: 200px;
  box-sizing: border-box;
  text-align: center;
}

.support-me {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 20vw;
  max-width: 250px;
  min-width: 200px;
  z-index: 9;
  img {
    width: 100%;
    height: auto;
  }
}